{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ user.cash | usd }}</td>
            </tr>
        </tfoot>
        <tbody>
            {% for share in shares %}
                <tr>
                    <td>{{ share['symbol'] }}</td>
                    <td>{{ share['name'] }}</td>
                    <td>{{ share['shares'] }}</td>
                    <td>{{ share['price'] | usd }}</td>
                    <td>{{ share['total_c'] | usd }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>CASH</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ user.cash | usd }}</td>
            </tr>
        </tbody>
    </table>
    <form action="/addcash" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="cash" placeholder="Add Cash" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}