<!-- https://dog.ceo/api/breeds/image/random -->
{% extends "layout.html" %} {% block main %}
<div class="utils-content mdl-layout__content">
    <div class="utils-be-together-section mdl-typography--text-center">
        <div class="logo-font utils-slogan">Get a random dog image everytime or select a breed</div>
        <img height='400' id="dog_img_placeholder" src="">
        <div class="container">

            <div class="utils-btn-cont">
                <button id="dog_fetch_btn" class="btn-large waves-effect waves-yellow">Fetch Random Dog</button>
            </div>
            <div class="utils-btn-cont">
                <div class="input-field col s1">
                    <select id="breed_selector">
                        <option value="" disabled selected>Choose a breed</option>
                    </select>
                    <label>Choose a Dog Breed</label>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="/static/dog.js"></script>
{% endblock %}