{% extends "layout.html" %} {% block main %}
<div class="utils-content mdl-layout__content">
    <div class="utils-be-together-section mdl-typography--text-center">
        <div class="logo-font utils-slogan">A bunch of utilities (or not) in one place</div>
        <div class="logo-font utils-sub-slogan">Your browser</div>
        <blockquote id='quote'></blockquote>
    </div>
</div>
<script>
    $(document).ready(function() {

        let quote = document.querySelector('#quote');
        let quote_url = `${config.api}/quote`;
        http.get(quote_url).then((res) => {
            if (!res || !res.quoteText) {
                handleError('No quote found');
                return;
            }
            M.toast({
                html: 'Success!'
            });
            let html = `${res.quoteText} <br> <small>${res.quoteAuthor}</small>`
            $(quote).html(html);
        }).catch(e => handleError(e))
    })
</script>
{% endblock %}