{% extends "layout.html" %} {% block main %}
<div class="utils-content mdl-layout__content">
    <div class="utils-be-together-section mdl-typography--text-center">
        <div class="logo-font utils-slogan">A bunch of utilities (or not) in one place</div>
        <div class="logo-font utils-sub-slogan">Your browser</div>
        <h5 id='quote'></h5>
    </div>
    {% if not session['user_id'] %}
    <div class='utils-registration-call mdl-typography--text-center'>
        <a href='/register'>Register</a> <p>to be able to access Premium(P) utilities</p>
    </div>
    {% endif %}
</div>
<script>
    $(document).ready(function() {

        let quote = document.querySelector('#quote');
        let quote_url = `${config.api}/quote`;
        httpClient.get(quote_url).then((res) => {
            if (!res || !res.quoteText) {
                handleError('No quote found');
                return;
            }
            M.toast({
                html: 'Success!'
            });
            let html = `${res.quoteText} <br> <small>"${res.quoteAuthor}"</small>`
            $(quote).html(html);
        }).catch(e => handleError(e))
    })
</script>
{% endblock %}